body {
  background-color: #080710;
}

.img_background {
  width: 100%;
  height: auto;
}

form {
  height: 450px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

form * {
  font-family: "Poppins", sans-serif;
  color: #fff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

input {
  display: block;
  height: 50px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 300;
}

select {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  margin-top: 8px;
  padding: 12px;
  width: 98%;
  height: 50px;
  border: none;
  font-size: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

select option {
  background-color: gray;
  font-weight: bold;
  color: white;
}

.Button1 {
  margin-top: 50px;
  width: 100%;
  background-color: #fff;
  color: #080710;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.Button2 {
  margin-top: 50px;
  margin-left: 40px;
  width: 80%;
  background-color: #fff;
  color: #080710;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

h1 {
  color: white;
}

li {
  color: white;
  font-size: 15px;
}
